{% extends 'base.html' %}
{% load static %}
{% load my_template_tags %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% include 'includes/sidebar.html' %}
            <div class="col-md-9">
                <div class="col-md-12">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <figure>
                                    <img src="{% static 'img/slide/Slide1.jpg' %}" alt="">
                                    <figcaption></figcaption>
                                </figure>
                                <div class="carousel-caption">
                                    <h3>طراحی وب</h3>
                                    <p>طراحی وب رو از همین امروز شروع کن</p>
                                </div>
                            </div>
                            <div class="item">
                                <figure>
                                    <img src="{% static 'img/slide/Slide1.jpg' %}" alt="">
                                    <figcaption></figcaption>
                                </figure>
                                <div class="carousel-caption">
                                    <a href="">
                                        <h3>چرا شاد نباشیم</h3>
                                        <p>مجموعه مقالات روانشناسی سارتر</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% for article in articles %}
                    <div class="col-md-4">
                        <a href="{{ article.get_absolut_url }}">
                            <div class="post-content">
                                <figure>
                                    <img src="{{ article.image.url }}" alt="img">
                                    <figcaption class="hover-fig">
                                        <i class="fa fa-plus"></i>
                                    </figcaption>
                                    <figcaption class="date-fig">
                                        <span>{{ article.created }}</span>
                                        <i class="fa fa-date"></i>
                                    </figcaption>
                                </figure>
                                <div>
                                    <h4>{{ article.title }}</h4>
                                    <div>
                                        <a href="#">{{ article.author }}</a>
                                    </div>
                                </div>
                                <p>{{ article.body|cutter:75 }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <br><br>
{% endblock %}