{% load static %}
<div class="main-menu">
    <div class="container">
        <ul>
            <li><a href="{% url 'home:main' %}">صفحه اصلی</a></li>
            <li><a href="{% url 'blog:list' %}">مقالات</a></li>
            <li><a href="#">تماس</a></li>
            <li><a href="#">درباره</a></li>
        </ul>
    </div>
</div>
<div class="top-section">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <li>
                    {% if request.user.is_authenticated %}
                        <div class="d-flex">
                            {% if request.user.first_name %}
                                {% if user.profile.user_image %}
                                    <span><img src="{{ user.profile.user_image.url }}" width="35" height="35"
                                               style="border-radius: 100%" alt=""></span>
                                {% else %}
                                    <span><img src="{% static 'images/icons/profile_user.png' %}" width="35"
                                               height="35"
                                               style="border-radius: 100%" alt=""></span>
                                {% endif %}
                                <a class="nav-link"
                                   href="">{{ request.user.first_name }} {{ request.user.last_name }} </a>
                            {% else %}
                                <a class="nav-link"
                                   href="">{{ request.user.username }} </a>
                            {% endif %}

                            <a href="{% url 'account:logout' %}"><span class="badge badge-danger mt-2">logout</span></a>
                        </div>
                    {% else %}
                        <div class="d-flex">
                            <a class="nav-link" href="{% url 'account:login' %}">Login</a><span
                                class="mt-2">/</span>
                            <a class="nav-link" href="{% url 'account:register' %}">Register</a>
                        </div>
                    {% endif %}
                </li>
            </div>
            <div class="col-md-5">
                <form method="" action="" class="search-form">
                    <input type="text" name="" placeholder="جستجو کنید ...">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <div class="col-md-5">
                <div class="index-h1">
                    <h1>بهترین و متفاوت ترین مقالات آموزشی</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<center>
    <p style="font-size: 16px;color: #444;">آخرین مطالب وبلاگ</p>
</center>
<hr>