{% load static %}
<div class="main-menu">
    <div class="container">
        <ul>
            <li><a href="#">صفحه اصلی</a></li>
            <li><a href="{% url 'blog:list' %}">مقالات</a></li>
            <li><a href="#">تماس</a></li>
            <li><a href="#">درباره</a></li>
        </ul>
    </div>
</div>
<div class="top-section">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img src="{% static 'img/logo.png' %}" alt="" class="logo">
            </div>
            <div class="col-md-5">
                <form method="" action="" class="search-form">
                    <input type="text" name="" placeholder="جستجو کنید ...">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <div class="col-md-5">
                <div class="index-h1">
                    <h1>بهترین و متفاوت ترین مقالات آموزشی</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<center>
    <p style="font-size: 16px;color: #444;">آخرین مطالب وبلاگ</p>
</center>
<hr>