{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% include 'includes/sidebar.html' %}
            <div class="col-md-9">
                <div class="col-md-12">
                    <div class="single-content">
                        <div class="single-img">
                            <img src="{{ article.image.url }}" alt="img">
                        </div>
                        <div class="single-meta">
                            <ul>
                                <li><a href="#" title="{{ article.created }}" data-toggle="tooltip"><i
                                        class="fa fa-calendar-o"></i></a></li>
                                <li><a href="#" title="{{ article.updated }}" data-toggle="tooltip"><i
                                        class="fa fa-reply"></i></a></li>
                                <li><a href="#" title="{{ article.author }}" data-toggle="tooltip"><i
                                        class="fa fa-user-o"></i></a></li>
                                <li><a href="#" title="اخبار ، ورزش" data-toggle="tooltip"><i
                                        class="fa fa-bars"></i></a>
                                </li>
                                <li><a href="#" title="اشتراک در توئیتر" data-toggle="tooltip"><i
                                        class="fa fa-twitter"></i></a>
                                </li>
                                <li><a href="#" title="اشتراک در فیس بوک" data-toggle="tooltip"><i
                                        class="fa fa-facebook"></i></a></li>
                                <li><a href="#" title="اشتراک در لینکدین" data-toggle="tooltip"><i
                                        class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="single-title">
                            <h1>{{ article.title }}</h1>
                            <h2>{{ article.author }}</h2>
                            <h6>{{ article.created }}</h6>
                        </div>
                        <p>{{ article.body }}</p>
                        <br>


                        <div class="col-6">
                            <ul class="post-tags">
                                {% if is_liked %}
                                    <li><span type="submit" onclick="like('{{ article.slug }}', '{{ article.id }}')"
                                    ><i
                                            id="like"
                                            style="font-size: 20px; color: red"
                                            class="fa fa-heart"></i><span
                                            id="count">{{ article.likes.all.count }}</span>
                                    </span></li>
                                {% else %}
                                    <li><span type="submit" onclick="like('{{ article.slug }}', '{{ article.id }}')"
                                    ><i
                                            id="like"
                                            style="font-size: 20px; color: red"
                                            class="fa fa-heart-o"></i><span
                                            id="count">{{ article.likes.all.count }}</span>
                                    </span></li>
                                {% endif %}
                            </ul>
                        </div>
                        <hr>

                        <div class="content">
                            <ul>
                                {% for comment in article.comments.all %}
                                    {% if comment.parent_id == None %}
                                        <li>
                                            <div class="author-decor">
                                                {% if comment.user.profile.user_image %}
                                                    <img src="{{ comment.user.profile.user_image.url }}" alt="img">
                                                {% else %}
                                                    <img src="{% static 'img/icons/profile_user.png' %}" alt="img">
                                                {% endif %}
                                            </div>
                                            <div class="align-content-sm-center">
                                                <h4>{{ comment.user }}<span>{{ comment.created }}</span>
                                                </h4>
                                                <p>{{ comment.body }}</p>
                                                <button onclick="set_value({{ comment.id }})"
                                                        class="btn btn-primary">reply
                                                </button>
                                            </div>
                                        </li>
                                        {% for reply in comment.replies.all %}
                                            <li class="fa-mail-reply">
                                                <div class="author-thumb">
                                                    {% if reply.user.profile.user_image %}
                                                        <img src="{{ reply.user.profile.user_image.url }}"
                                                             alt="">
                                                    {% else %}
                                                        <img src="{% static 'img/icons/profile_user.png' %}"
                                                             alt="">
                                                    {% endif %}
                                                </div>
                                                <div class="right-content">
                                                    <h4>{{ reply.user }}<span>{{ reply.created }}</span>
                                                    </h4>
                                                    <p>{{ reply.body }}</p>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="comment">
                            <span><i class="fa fa-comments"></i>نظری برای این مطلب بنویسید</span>
                            <form id="comment" action="" method="post">
                                {% csrf_token %}
                                <div class="form-group col-md-12">
                                    <div class="row">
                                        <input type="hidden" id="parent_id" name="parent_id" value="">
                                        <fieldset>
                                                                                            <textarea
                                                                                                    class="form-control"
                                                                                                    name="body"
                                                                                                    id="body"
                                                                                                    placeholder="متن نظر"
                                                                                                    rows="7"></textarea>
                                        </fieldset>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <button class="btn btn-default" type="submit">ارسال نظر</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="comments-note">
                            نظرات این مطلب
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        function set_value(id) {
            document.getElementById('parent_id').value = id;
            window.location.href = '#body'
        }

    </script>
{% endblock %}